.header__logo-box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 2rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.header__logo {
  height: 3.5rem;
}
